body {
    background-image: url("../images/masc.jpg");
}

#animate{
    position: absolute;
}

#nosacz {
    display: none;
}

#formularz {
    display: block; 
}

#containter{
    text-align: center;
}

p {
    background-color:grey;
    color: white;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 150%;
    padding: 10px;
	text-shadow: 1px 2px black;
}

#footer{
    clear: both;
    bottom: 0px;
    position:fixed;
}

.jumbotron{
    height:200px;
    width:100%;
    margin-bottom:0;
    padding:30px;
    background-image:url("../images/galka.png");
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size: 100%;
    
}

.container-fluid {
    padding-top: 60px;
}