.jumbotron h1{
    padding-left:5%;
    text-shadow: 1px 2px white;
}

.jumbotron h3{
    color:wheat;
}

.jumbotron{
    height:200px;
    width:100%;
    margin-bottom:0;
    background-image:url("../galka.png");
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size: 100%;
    
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 60px;
}

nav li p{
    color:peachpuff;
    padding-top:1em;
}

.meme-gallery{
    width:100%;
    background-color:grey;
    display:-webkit-flex;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
}

.meme-gallery .meme{
    width:50%;
    display:block;
    margin-bottom:1em;
}

.meme img.img-responsive{
    width:50%;
    margin:auto;
}

.meme .well{
    width:50%;
    margin:auto;
}

